<section class="content-wrapper">
  <div class="row">
    <div class="col-xl-10 col-lg-9 pl-3 pl-lg-0">
      <div class="content">
        <h2 class="admin-main-title text-darkgray1 fw-600 fs-20 border-bottom mb-4 pb-2">Add New Note</h2>
        <%= render 'form', note: @note %>
      </div>
    </div>
  </div>
</section>
